.header h1 {
    color: #bcbbbb;
  font-size: 3rem;
  font-weight: 600;
  margin-bottom: 1rem;
  line-height: 1em;
  text-transform: lowercase;
  text-align: center;
}

.header p {
    margin-bottom: 1rem;
    text-align: center;
    color: #bcbbbb;
}
